# macOS
.DS_Store
.AppleDouble
.LSOverride

# Flutter / Dart
**/doc/api/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/build/
release-output/

# Android
**/android/.gradle
**/android/local.properties
**/android/**/build/
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS
**/ios/.generated/
**/ios/Pods/
